<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>MultiCog</title>
        <link rel="icon" href="/img/image.png">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">

    </head>

    <body>
        <%-include('../partials/nav')-%>

        <main>
            <%-include('../partials/header')-%>

        
            <section id="main">
                <h2 class="secondary-heading">Core Faculty</h2>
                <div id="core-faculty">
                    <div class="core-faculty-items">
                        <img class="profile-pic" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0a/Gnome-stock_person.svg/1024px-Gnome-stock_person.svg.png">
                        <p class="core-faculty-text">Name 1</p>
                        <p class="core-faculty-text">Designation</p>
                    </div>
                    <div class="core-faculty-items">
                        <img class="profile-pic" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0a/Gnome-stock_person.svg/1024px-Gnome-stock_person.svg.png">
                        <p class="core-faculty-text">Name 2</p>
                        <p class="core-faculty-text">Designation</p>
                    </div>
                </div>
                 
                <h2 class="secondary-heading">Current Members</h2>
                <div class="members">
                    <div class="members-items">
                        <p class=member-text>Sparsh Kasana</p>
                        <p class=member-text>B.E.(CS) BITS Pilani</p>
                        <span class="website-links">
                            <a href="https://github.com/"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a>
                            <a href="https://linkedin.com/"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a>
                        </span>
                    </div>
                    <div class="members-items">
                        <p class=member-text>Apurv Sadana</p>
                        <p class=member-text>B.E.(CS) BITS Pilani</p>
                        <span class="website-links">
                            <a href="https://github.com/"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a>
                            <a href="https://linkedin.com/"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a>
                        </span>
                    </div>
                    <div class="members-items">
                        <p class=member-text>Sparsh Kasana</p>
                        <p class=member-text>B.E.(CS) BITS Pilani</p>
                        <span class="website-links">
                            <a href="https://github.com/"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a>
                            <a href="https://linkedin.com/"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a>
                        </span>
                    </div>
                    <div class="members-items">
                        <p class=member-text>Sparsh Kasana</p>
                        <p class=member-text>B.E.(CS) BITS Pilani</p>
                        <span class="website-links">
                            <a href="https://github.com/"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a>
                            <a href="https://linkedin.com/"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a>
                        </span>
                    </div>
                    <div class="members-items">
                        <p class=member-text>Sparsh Kasana</p>
                        <p class=member-text>B.E.(CS) BITS Pilani</p>
                        <span class="website-links">
                            <a href="https://github.com/"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a>
                            <a href="https://linkedin.com/"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a>
                        </span>
                    </div>
                    <div class="members-items">
                        <p class=member-text>Sparsh Kasana</p>
                        <p class=member-text>B.E.(CS) BITS Pilani</p>
                        <span class="website-links">
                            <a href="https://github.com/"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a>
                            <a href="https://linkedin.com/"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a>
                        </span>
                    </div>
                    <div class="members-items">
                        <p class=member-text>Sparsh Kasana</p>
                        <p class=member-text>B.E.(CS) BITS Pilani</p>
                        <span class="website-links">
                            <a href="https://github.com/"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a>
                            <a href="https://linkedin.com/"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a>
                        </span>
                    </div>
                    <div class="members-items">
                        <p class=member-text>Sparsh Kasana</p>
                        <p class=member-text>B.E.(CS) BITS Pilani</p>
                        <span class="website-links">
                            <a href="https://github.com/"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a>
                            <a href="https://linkedin.com/"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a>
                        </span>
                    </div>
                </div>


                <h2 class="secondary-heading">Former Members</h2>
                <div class="members">
                    <div class="members-items">
                        <p class=member-text>Sparsh Kasana</p>
                        <p class=member-text>B.E.(CS) BITS Pilani</p>
                        
                    </div>
                    <div class="members-items">
                        <p class=member-text>Apurv Sadana</p>
                        <p class=member-text>B.E.(CS) BITS Pilani</p>
                        
                    </div>
                    <div class="members-items">
                        <p class=member-text>Sparsh Kasana</p>
                        <p class=member-text>B.E.(CS) BITS Pilani</p>
                        
                    </div>
                    <div class="members-items">
                        <p class=member-text>Sparsh Kasana</p>
                        <p class=member-text>B.E.(CS) BITS Pilani</p>
                        
                    </div>
                    <div class="members-items">
                        <p class=member-text>Sparsh Kasana</p>
                        <p class=member-text>B.E.(CS) BITS Pilani</p>
                        
                    </div>
                    <div class="members-items">
                        <p class=member-text>Sparsh Kasana</p>
                        <p class=member-text>B.E.(CS) BITS Pilani</p>
                        
                    </div>
                    <div class="members-items">
                        <p class=member-text>Sparsh Kasana</p>
                        <p class=member-text>B.E.(CS) BITS Pilani</p>
                        
                    </div>
                    <div class="members-items">
                        <p class=member-text>Sparsh Kasana</p>
                        <p class=member-text>B.E.(CS) BITS Pilani</p>
                        
                    </div>
                </div>
            </section>
        </main>

        

        <script src="/js/client.js"></script>

    </body>
</html>