<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>MultiCog</title>
        <link rel="icon" href="/img/image.png">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">

    </head>

    <body>
        <%-include('../partials/nav')-%>

        <main>
            <%-include('../partials/header')-%>

        
            <section id="main">
                <h2 class="seconary-heading">Core Faculty</h2>
                <!-- <div id="core-faculty">
                    <div class="core-faculty-items">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0a/Gnome-stock_person.svg/1024px-Gnome-stock_person.svg.png">
                        <p>Name 1</p>
                        <p>Designation</p>
                    </div>
                    <div class="core-faculty-items">
                        <img class="profile-pic" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0a/Gnome-stock_person.svg/1024px-Gnome-stock_person.svg.png">
                        <p>Name 2</p>
                        <p>Designation</p>
                    </div>
                </div> -->
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi finibus purus eros, ac pulvinar enim placerat sit amet. Etiam hendrerit varius accumsan. Duis at volutpat est. In et odio consequat, finibus dui ac, dapibus augue. Mauris tincidunt nisi at velit bibendum bibendum at quis nunc. Nunc iaculis arcu at turpis ultricies laoreet. Proin eget sem vel turpis finibus tincidunt vel in purus. Nunc urna orci, gravida aliquam tempus dapibus, luctus ut est.

                    Nullam dapibus non velit non dictum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec varius ut felis quis pretium. Nullam blandit elementum tempus. Mauris pulvinar elementum arcu, vel vulputate nulla suscipit vel. Pellentesque massa ipsum, hendrerit facilisis augue non, facilisis finibus nulla. Fusce pretium neque nec justo accumsan commodo sodales nec ipsum. Proin cursus leo nulla, eu lobortis augue aliquet feugiat. Nulla sagittis ac quam in rutrum.
                    
                    Etiam eleifend sed justo in accumsan. Nunc mattis quam quam, ut iaculis ipsum rhoncus at. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam luctus condimentum ipsum, at porta ligula sodales vel. Donec ut nisi odio. Nullam sed congue nisl, sed semper dui. Sed fringilla, turpis vel sagittis malesuada, sem erat maximus risus, in ullamcorper felis tortor at quam. Suspendisse pharetra sem ac pharetra ornare. Quisque non enim sed elit pretium imperdiet.
                    
                    Nullam facilisis suscipit vestibulum. Aenean accumsan et turpis sit amet varius. Nullam malesuada condimentum neque, auctor aliquet sem auctor id. Fusce vulputate ac massa et laoreet. Duis rutrum condimentum ipsum id eleifend. Suspendisse interdum, ligula eget facilisis rutrum, elit sapien fringilla lorem, at blandit augue lectus sed nibh. Nam mattis erat tortor, ut tincidunt enim egestas vitae. Integer enim lacus, pharetra sed consequat nec, gravida eu lacus. Mauris sollicitudin est eu nulla varius tristique. Integer a magna massa. Donec commodo lacus id felis fringilla accumsan. Aenean gravida iaculis orci quis porta.
                    
                    Morbi congue ornare laoreet. Pellentesque luctus nulla at leo convallis, quis eleifend tortor dapibus. Morbi a dictum enim. Suspendisse feugiat consectetur nisl, vel pretium ex. Vestibulum ipsum risus, iaculis non aliquam facilisis, vulputate nec lectus. Phasellus eget mi quis arcu volutpat rutrum. Sed nec dolor sem. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla eget turpis in sem varius scelerisque scelerisque vitae neque. Fusce at lorem arcu. Donec mattis lacus non euismod ornare. Nullam sed purus congue lectus posuere rutrum. Sed sed est enim. Morbi et sem dui. Donec rhoncus pharetra nunc, quis efficitur risus euismod et.
                </p>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi finibus purus eros, ac pulvinar enim placerat sit amet. Etiam hendrerit varius accumsan. Duis at volutpat est. In et odio consequat, finibus dui ac, dapibus augue. Mauris tincidunt nisi at velit bibendum bibendum at quis nunc. Nunc iaculis arcu at turpis ultricies laoreet. Proin eget sem vel turpis finibus tincidunt vel in purus. Nunc urna orci, gravida aliquam tempus dapibus, luctus ut est.

                    Nullam dapibus non velit non dictum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec varius ut felis quis pretium. Nullam blandit elementum tempus. Mauris pulvinar elementum arcu, vel vulputate nulla suscipit vel. Pellentesque massa ipsum, hendrerit facilisis augue non, facilisis finibus nulla. Fusce pretium neque nec justo accumsan commodo sodales nec ipsum. Proin cursus leo nulla, eu lobortis augue aliquet feugiat. Nulla sagittis ac quam in rutrum.
                    
                    Etiam eleifend sed justo in accumsan. Nunc mattis quam quam, ut iaculis ipsum rhoncus at. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam luctus condimentum ipsum, at porta ligula sodales vel. Donec ut nisi odio. Nullam sed congue nisl, sed semper dui. Sed fringilla, turpis vel sagittis malesuada, sem erat maximus risus, in ullamcorper felis tortor at quam. Suspendisse pharetra sem ac pharetra ornare. Quisque non enim sed elit pretium imperdiet.
                    
                    Nullam facilisis suscipit vestibulum. Aenean accumsan et turpis sit amet varius. Nullam malesuada condimentum neque, auctor aliquet sem auctor id. Fusce vulputate ac massa et laoreet. Duis rutrum condimentum ipsum id eleifend. Suspendisse interdum, ligula eget facilisis rutrum, elit sapien fringilla lorem, at blandit augue lectus sed nibh. Nam mattis erat tortor, ut tincidunt enim egestas vitae. Integer enim lacus, pharetra sed consequat nec, gravida eu lacus. Mauris sollicitudin est eu nulla varius tristique. Integer a magna massa. Donec commodo lacus id felis fringilla accumsan. Aenean gravida iaculis orci quis porta.
                    
                    Morbi congue ornare laoreet. Pellentesque luctus nulla at leo convallis, quis eleifend tortor dapibus. Morbi a dictum enim. Suspendisse feugiat consectetur nisl, vel pretium ex. Vestibulum ipsum risus, iaculis non aliquam facilisis, vulputate nec lectus. Phasellus eget mi quis arcu volutpat rutrum. Sed nec dolor sem. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla eget turpis in sem varius scelerisque scelerisque vitae neque. Fusce at lorem arcu. Donec mattis lacus non euismod ornare. Nullam sed purus congue lectus posuere rutrum. Sed sed est enim. Morbi et sem dui. Donec rhoncus pharetra nunc, quis efficitur risus euismod et.
                </p>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi finibus purus eros, ac pulvinar enim placerat sit amet. Etiam hendrerit varius accumsan. Duis at volutpat est. In et odio consequat, finibus dui ac, dapibus augue. Mauris tincidunt nisi at velit bibendum bibendum at quis nunc. Nunc iaculis arcu at turpis ultricies laoreet. Proin eget sem vel turpis finibus tincidunt vel in purus. Nunc urna orci, gravida aliquam tempus dapibus, luctus ut est.

                    Nullam dapibus non velit non dictum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec varius ut felis quis pretium. Nullam blandit elementum tempus. Mauris pulvinar elementum arcu, vel vulputate nulla suscipit vel. Pellentesque massa ipsum, hendrerit facilisis augue non, facilisis finibus nulla. Fusce pretium neque nec justo accumsan commodo sodales nec ipsum. Proin cursus leo nulla, eu lobortis augue aliquet feugiat. Nulla sagittis ac quam in rutrum.
                    
                    Etiam eleifend sed justo in accumsan. Nunc mattis quam quam, ut iaculis ipsum rhoncus at. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam luctus condimentum ipsum, at porta ligula sodales vel. Donec ut nisi odio. Nullam sed congue nisl, sed semper dui. Sed fringilla, turpis vel sagittis malesuada, sem erat maximus risus, in ullamcorper felis tortor at quam. Suspendisse pharetra sem ac pharetra ornare. Quisque non enim sed elit pretium imperdiet.
                    
                    Nullam facilisis suscipit vestibulum. Aenean accumsan et turpis sit amet varius. Nullam malesuada condimentum neque, auctor aliquet sem auctor id. Fusce vulputate ac massa et laoreet. Duis rutrum condimentum ipsum id eleifend. Suspendisse interdum, ligula eget facilisis rutrum, elit sapien fringilla lorem, at blandit augue lectus sed nibh. Nam mattis erat tortor, ut tincidunt enim egestas vitae. Integer enim lacus, pharetra sed consequat nec, gravida eu lacus. Mauris sollicitudin est eu nulla varius tristique. Integer a magna massa. Donec commodo lacus id felis fringilla accumsan. Aenean gravida iaculis orci quis porta.
                    
                    Morbi congue ornare laoreet. Pellentesque luctus nulla at leo convallis, quis eleifend tortor dapibus. Morbi a dictum enim. Suspendisse feugiat consectetur nisl, vel pretium ex. Vestibulum ipsum risus, iaculis non aliquam facilisis, vulputate nec lectus. Phasellus eget mi quis arcu volutpat rutrum. Sed nec dolor sem. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla eget turpis in sem varius scelerisque scelerisque vitae neque. Fusce at lorem arcu. Donec mattis lacus non euismod ornare. Nullam sed purus congue lectus posuere rutrum. Sed sed est enim. Morbi et sem dui. Donec rhoncus pharetra nunc, quis efficitur risus euismod et.
                </p>
                <h2 class="secondary-heading">Current Members</h2>
                <h2 class="secondary-heading">Former Members</h2>
            </section>
        </main>

        <script src="/js/client.js"></script>

    </body>
</html>