<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>MultiCog</title>
        <link rel="icon" href="/img/image.png">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">

    </head>

    <body>
        <%-include('../partials/nav')-%>

        <main>
            <%-include('../partials/header')-%>

        
            <section id="main">
                <div class="publication">
                    <h3 class="publication-heading publication-text"><a href="https://scholar.google.com">Title</a></h3>
                    <h4 class="publication-authors publication-text">Multiple author names</h4>
                    <p class="publication-intro publication-text">
                        Description of publication
                        Abstract maybe if it is short enough
                    </p>
                    <a class="pub-link publication-text" href="https://scholar.google.com">Read the complete paper</a>
                </div>

                <div class="publication">
                    <h3 class="publication-heading publication-text"><a href="https://scholar.google.com">Title</a></h3>
                    <h4 class="publication-authors publication-text">Multiple author names</h4>
                    <p class="publication-intro publication-text">
                        Description of publication
                        Abstract maybe if it is short enough
                    </p>
                    <a class="pub-link publication-text" href="https://scholar.google.com">Read the complete paper</a>
                </div>

                <div class="publication">
                    <h3 class="publication-heading publication-text"><a href="https://scholar.google.com">Title</a></h3>
                    <h4 class="publication-authors publication-text">Multiple author names</h4>
                    <p class="publication-intro publication-text">
                        Description of publication
                        Abstract maybe if it is short enough
                    </p>
                    <a class="pub-link publication-text" href="https://scholar.google.com">Read the complete paper</a>
                </div>
            </section>
        </main>

        

        <script src="/js/client.js"></script>

    </body>
</html>