<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>MultiCog</title>
        <link rel="icon" href="/img/image.png">
        <link rel="stylesheet" href="/css/main.css">
    </head>

    <body>
        <%-include('../partials/header')-%>
        
        <%-include('../partials/nav')-%>

        
        <section id="main">
            <p>Research page</p>
        </section>

        <%-include('../partials/aside')-%>
    </body>
</html>