<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>MultiCog</title>
        <link rel="icon" href="/img/image.png">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">

    </head>

    <body>
        <%-include('../partials/nav')-%>

        <main>
            <%-include('../partials/header')-%>

        
            <section id="main">
                <p>Research page</p>
            </section>
        </main>

        <script src="/js/client.js"></script>

    </body>
</html>