<!-- Partial for header-->
    <header>
        <div id="logo-div">
            <a href="/"><img id="logo" src="/img/cogs.png" alt="MultiCog Logo"></a>
        </div>

        <div id="page-title">
            <a href="/"><h1 id="title-text">Multimodal Cognition Research Group</h1></a>
        </div> 
        
        <div id="filler-space">

        </div>
    </header>

    

    
        
    