<!-- Partial for nav -->
    <nav>
        <div class="nav-link">
            <a href="/"><p class='nav-text'>HOME</p></a>
        </div>
        <div class="nav-link">
            <a href="/research"><p class='nav-text'>RESEARCH</p></a>
        </div>
        <div class="nav-link">
            <a href="/members"><p class='nav-text'>MEMBERS</p></a>
        </div>
        <div class="nav-link">
            <a href="/publications"><p class='nav-text'>PUBLICATIONS</p></a>   
        </div>
    </nav>